<html>
<body><h1>Whitelabel Error Page</h1>
<p>This application has no explicit mapping for /error, so you are seeing this as a fallback.</p>
<div id='created'>Sat Mar 14 17:03:35 CST 2020</div>
<div>There was an unexpected error (type=Internal Server Error, status=500).</div>
<div>Error creating bean with name &#39;rabbitMQController&#39;: Singleton bean creation not allowed while singletons of
    this factory are in destruction (Do not request a bean from a BeanFactory in a destroy method implementation!)
</div>
<div style='white-space:pre-wrap;'>
</div>
</body>
</html>